/* ------------------------
        font style 
--------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:ital,wght@0,400;1,500&display=swap');
*{
    margin: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}

/* main player section start */

.main-player {
    Width: 1621px;
    Height: 746px;
    background-color: #041e2e;
    margin: auto;
    margin-Top: 50px;
    border-radius: 30px;
}

.player-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.player-tex {
    border: 1px solid none;
    color: aliceblue;
    Width: 551px;
    Height: 520px;
    margin-Top: 104px;
    margin-Left: 140px;
    border-radius: 5px;
}

.main-blog {
    position: absolute;
    font-size: 80px;
    font-weight: bold;
    height: 240px;
    width: 531px;
    line-height: 80px;
}

small {
    position: absolute;
    height: 20px;
    width: 500px;
    margin-top: 350px;
    font-size: 16px;
}

.player-banner img {
    position: absolute;
    width: 681px;
    height: 713px;
    overflow: hidden;
    margin-left: 44px;
    margin-top: 28px;
}

.button {
    position: absolute;
    margin-top: 460px;
    background-image: linear-gradient(tomato, red);
    padding: 10px 15px;
    font-size: 24px;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 5px;

}

/* section-2 playing football start */


.playing-start {
    Width: 1621px;
    Height: 746px;
    margin: auto;
    margin-top: 150px;

}

.player-on-feild {
    display: grid;
    grid-template-columns: 350px repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;

}

.playing-football {
    border: 1px solid red;
    height: 400px;
    border-radius: 14px;
}

#hello-3 {
    background-color: #041e2e;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 350px;
    color: black;
    border-radius: 10px;

}

.player-update {
    height: 40px;
    width: 230px;
    background-color: white;
    margin-top: 35px;
    margin-left: 30px;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 10px;
}
.player-update a{
    text-decoration: none;
    color: black;
}
#blog-style {
    background-image: linear-gradient(tomato, red);

}

.playing-football img {
    width: 391.667px;

}
.transfer-button{
    display: block;
    width: 80px;
    border: 1px solid black;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}
.transfer-text{
    margin-left: 15px;
    margin-bottom: 20px;
}

.icons {
    display: flex;
    
    position: relative;
    margin-left: 15px;
    margin-right: 50px;
    
}
.time{
    margin-left: 7px;
    margin-right: 30px;
}

/* footer section start */

.footer-container{
    position: absolute;
    height: 350px;
    width: 100%;
    background-color: #041e2e;
    margin-top: 200px;
}
.footer-text{
    font-size: 28px;
    font-weight: 800;
    color: whitesmoke;
    text-align: center;
    margin-top: 100px;
}
hr{
    Width: 1621px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.footer-short-text{
    width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 120px 120px;
    color: whitesmoke;
    text-align: center;
}
.footer-link{
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
    
}
/* footer section end */


/* responsive site */
@media screen and (max-width: 688px) {
    .main-player{
        width: 100%;
        
        
    }
    .player-container{
        grid-template-columns: repeat(1, 1fr);
        
    }
    .player-banner img{
        width: 100%;
        margin-right: 0;
        
    }
    .player-tex{
        border: 1px solid white;
        width: 85%;
        height: 400px;
        margin: auto;
    }
    .main-blog{
        font-size: 30px;
        width: 85%;
        line-height: 50px;
        margin-top: 40px;
        text-align: center;
        
    }
    small{
        width:85%;
        margin-top: 150px;
    }
    .button-help{
        margin-top: -150px;
        margin-left: 50px;
    }
    .player-banner img{
        height: 314px;
        margin-left: 10px;
        margin-top:29px;
        width:358px;
    }

}