/* ------------------------
        font style 
--------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:ital,wght@0,400;1,500&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* main player section start */

.main-player {
    Width: 1621px;
    Height: 746px;
    background-color: #041e2e;
    margin: auto;
    margin-Top: 50px;
    border-radius: 30px;
}

.player-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.player-tex {
    border: 1px solid none;
    color: aliceblue;
    Width: 551px;
    Height: 520px;
    margin-Top: 104px;
    margin-Left: 140px;
    border-radius: 5px;
}

.main-blog {
    position: absolute;
    font-size: 80px;
    font-weight: bold;
    height: 240px;
    width: 531px;
    line-height: 80px;
}

small {
    position: absolute;
    height: 20px;
    width: 500px;
    margin-top: 350px;
    font-size: 16px;
}

.player-banner img {
    position: absolute;
    width: 681px;
    height: 713px;
    overflow: hidden;
    margin-left: 44px;
    margin-top: 28px;
}

.button {
    position: absolute;
    margin-top: 460px;
    background-image: linear-gradient(tomato, red);
    padding: 10px 15px;
    font-size: 24px;
    color: whitesmoke;
    text-decoration: none;
    border-radius: 5px;

}

/* section-2 playing football start */


.playing-start {
    Width: 1621px;
    Height: 746px;
    margin: auto;
    margin-top: 150px;

}

.player-on-feild {
    display: grid;
    grid-template-columns: 350px repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;

}

.playing-football {
    border: 1px solid none;
    height: 300px;
    border-radius: 17px;
    box-shadow: 0px 0px 0px 1px;
}

#hello-3 {
    background-color: #041e2e;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 350px;
    color: black;
    border-radius: 10px;

}

.player-update {
    height: 40px;
    width: 230px;
    background-color: white;
    margin-top: 35px;
    margin-left: 30px;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
    padding: 15px 25px;
    border-radius: 10px;
}

.player-update a {
    text-decoration: none;
    color: black;
}

#blog-style {
    background-image: linear-gradient(tomato, red);

}

.match-fix {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
}

#h3 {
    margin-top: 8%;
}

.playing-football img {
    width: 150px;

}

.transfer-text {
    font-size: 26px;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 10%;
}

.start-time {
    text-align: center;
    font-weight: 200;
}

/* footer section start */

.footer-container {
    position: absolute;
    height: 350px;
    width: 100%;
    background-color: #041e2e;
    margin-top: 200px;
}

.footer-text {
    font-size: 28px;
    font-weight: 800;
    color: whitesmoke;
    text-align: center;
    margin-top: 100px;
}

hr {
    Width: 1621px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer-short-text {
    width: 900px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 120px 120px;
    color: whitesmoke;
    text-align: center;
}

.footer-link {
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;

}

.link {
    position: absolute;
    background-image: linear-gradient(red, orange);
    padding: 10px 20px;
    margin-left: 50%;
    margin-top: 142px;
    display: none;
}

/* footer section end */



/*---------------------------------------
            responsive site 
 ----------------------------------------*/
@media screen and (max-width: 677px) {
    .main-player {
        width: 90%;
        height: 770px;
        /* margin-left: 5%; */


    }

    .player-container {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);

    }

    .player-tex {
        border: 1px solid none;
        width: 85%;
        height: 400px;
        margin: auto;
    }

    .main-blog {
        font-size: 2.5em;
        width: 80%;
        line-height: 1.5em;
        margin-top: 40px;
        text-align: center;

    }

    small {
        width: 80%;
        margin-top: 35%;
        text-align: center;
    }

    .button-help {

        margin-left: 30%;

    }

    .button {
        margin-top: 55%;
    }

    .player-banner img {
        height: 344px;
        margin-top: 25px;
        width: 82%;
    }

    .playing-start {
        margin-top: 100%;
    }

    #hello-3 {
        width: 547px;
        margin-top: 50px;
        background-color: white;
        box-shadow: 0px 0px 0px 0px;

    }

    .player-update {
        border: 1px solid black;
    }

    #up-match {
        width: 331px;
        margin-left: 81px;
        font-size: 35px;
        padding-bottom: 20px;
    }

    #all-match {
        width: 224px;
        margin-left: 141px;
        font-size: 26px;
    }

    #blog-style {
        width: 224px;
        margin-left: 141px;
        font-size: 26px;
    }

    .playing-start {
        position: absolute;
        width: 100%;
        margin-top: 100px;

        align-items: center;
    }

    .playing-football {
        width: 80%;
        height: 350px;
        margin: auto;

    }

    .player-feild {
        width: 80%;
    }

    /* .match-fix img {
        width: 80%;
    } */

    .player-on-feild {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;

    }

    /* .transfer-button {
        width: 131px;
        height: 42px;
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;
    } */

    /* .transfer-text {
        font-size: 28px;
    } */


    .footer-container {
        width: 100%;
        margin-top: 2900px;
        /*----chenge-----*/
        height: 500px;
    }

    hr {
        width: 50%;
    }

    .footer-short-text {

        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 17px;
        width: 50%;
    }

    .footer-link {
        width: 25%;
        margin-bottom: 35px;
    }



}

/* --------------------------------------
            New mini pad  
------------------------------------------*/
@media screen and (min-width: 678px) and (max-width: 996px) {
    .main-player {
        width: 90%;
        height: 450px;
        /* margin-left: 5%; */


    }

    .player-container {
        width: 100%;
        /* grid-template-columns: repeat(1, 1fr); */

    }

    .player-tex {
        border: 1px solid none;
        width: 85%;
        height: 400px;
        margin: auto;
    }

    .main-blog {
        font-size: 2.5em;
        width: 40%;
        line-height: 1.4em;
        margin-top: 40px;
        /* text-align: center; */

    }

    small {
        width: 37%;
        margin-top: 25%;
        /* text-align: center; */
    }

    .button-help {

        /* margin-left: 05%; */

    }

    .button {
        margin-top: 37%;
    }

    .player-banner img {
        height: 384px;
        margin-top: 65px;
        width: 41%;
        margin-left: 8px;
    }

    /* .playing-start {
        margin-top: 100%;

    } */

    #hello-3 {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 90%;
        /* margin-top: 50px; */
        background-color: white;
        box-shadow: 0px 0px 0px 0px;
        margin-top: -28%;
        align-items: center;
        height: 15%;
        margin-left: -5%;


    }

    .player-update {
        border: 1px solid lightgray;
        /* margin: 62px; */

    }

    #up-match {
        width: 100%;
        margin-left: 81px;
        font-size: 1.2em;
        padding: 19px 9px 15px 7px;
        text-align: center;
        margin-left: 8%;
        line-height: 1em;
    }

    #all-match {
        width: 55%;
        margin-left: 8%;
        font-size: 1.2em;
        line-height: 1em;
        padding: 19px 9px 15px 7px;
    }

    #blog-style {
        width: 55%;
        margin-left: 8%;
        font-size: 1.2em;
        padding: 19px 9px 15px 7px;
    }

    .playing-start {
        /* position: absolute; */
        width: 90%;
        margin-top: 320px;
        margin-left: 14px;
        align-items: center;
    }

    .playing-football {
        width: 100%;
        height: 100%;
        margin: auto;
        align-items: center;
        box-shadow: 0px 0px 0px 1px;

    }

    . .player-feild {
        width: 40%;
    }

    /* .playing-football img {
        width: 100%;
    } */

    .player-on-feild {
        width: 100%;
        margin-left: 5%;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        grid-column-gap: 2%;

    }

    /* .transfer-button {
        width: 131px;
        height: 42px;
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;
    } */

    /* .transfer-text {
        font-size: 1.3em;
    } */

    .link {
        display: block;
        position: relative;
        margin-top: 10%;
        width: 76px;
        margin-left: 44%;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;


    }

    .footer-container {
        position: absolute;
        width: 100%;
        margin-top: 10%;
        height: 500px;
    }

    hr {
        width: 50%;
    }

    .footer-short-text {

        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 17px;
        width: 50%;
    }

    .footer-link {
        width: 25%;
        margin-bottom: 35px;
    }



}